main {
    height: 25rem;
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: $text-color;
        text-align: center;
        font-size: 2rem;
    }
    p:nth-child(1){
        flex: 2;
    }
    p:nth-child(2), p:nth-child(3){
        flex: 1;
    }
}