@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin beautify($color){ // can add multiple argument
    font-size: 2rem;
    color: $color;
}

@import 'variables';
@import 'header';
@import 'main';

.hello{
    // @include flexCenter();
    // p{
    //     @include beautify(#fff);
    // }
    @extend header; // inheritance
    background-color: $primary;
    font-size: 2rem;
}

